@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    position: relative;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #333333;
    background-color: #e1e1e1;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

ul {
    list-style-type: none;
}

.title {
    &__large {
        font-size: 3.2rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
    &____small {
        font-size: 2rem;
        font-weight: 600;
    }
}

.main {
    padding: 5rem 0;
}

.highlight-container {
    .title.title__large {
        margin-bottom: 3rem;
    }
}

.highlights-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex: 0 0 30rem;
        flex-direction: column;
        margin: 1rem 3rem 2rem 0;
        &:hover {
            cursor: pointer;
        }
        img{
            width: 100%;
            height: 22.5rem;
        }
    }
}

.highlight-container {
    text-align: center;
    .video-box {
        max-width: 70rem;
        margin: 0 auto;
    }
}